@model bidder.Auction

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Auction</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.itemName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.itemName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.itemDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.itemDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.startingBid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.startingBid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.reservePrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.reservePrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.auctionStart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.auctionStart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.auctionEnd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.auctionEnd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.condition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.condition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.category)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.seller)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.seller.userID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.auctionID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
