@model bidder.Models.User

@{
    ViewData["Title"] = "Register Page";
}
<div class="register-form">
    <form asp-action="AdminUserUpdateProcess" method="post">
        <h2>Register</h2>
        <input asp-for="@Model.userID" type="hidden" id="productName">

        <label for="username">Username:</label>
        <input asp-for="@Model.username" type="text" id="username">

        <input asp-for="@Model.password" type="hidden" id="password">

        <input asp-for="@Model.passwordConfirm" type="hidden" id="passwordConfirm">

        <label for="email">Email:</label>
        <input asp-for="@Model.email" type="email" id="email">

        <label for="seller">Seller:</label>
        <input asp-for="@Model.seller" type="checkbox" id="seller">

        <label for="buyer">Buyer:</label>
        <input asp-for="@Model.buyer" type="checkbox" id="buyer">

        <label for="first-name">First Name:</label>
        <input asp-for="@Model.firstName" type="text" id="first-name">

        <label for="last-name">Last Name:</label>
        <input asp-for="@Model.lastName" type="text" id="last-name">

        <input type="submit" value="Update">
    </form>
</div>
