@{
    ViewData["Title"] = "Admin User Page";
}
<div class="Admin">
    <div>
        <table class="table">
            <tr>
                <th>User ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>Seller</th>
                <th>Buyer</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Verified</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
            <tbody>
                @foreach (User a in Model)
                {
                    <tr>
                        <td>@a.userID</td>
                        <td>@a.username</td>
                        <td>@a.email</td>
                        <td>@a.seller</td>
                        <td>@a.buyer</td>
                        <td>@a.firstName</td>
                        <td>@a.lastName</td>
                        <td>@a.verifiedStatus</td>
                        <td>
                            <form asp-action="AdminUserUpdate" method="POST">
                                <input type="hidden" name="aid" id="aid" value="@a.userID" />
                                <button type="submit">Update</button>
                            </form>
                        </td>
                        <td>
                            <form asp-action="AdminUserDelete" method="POST">
                                <input type="hidden" name="aid" id="aid" value="@a.userID" />
                                <button type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>