@using bidder;
@{
    ViewData["Title"] = "Home Page";
}

<div class="welcome">
    <h1>Welcome To R.O.J.H. Auctions</h1>
    <p>We're so happy you're here, please login or register!</p>
    <hr>
    
    <form asp-action="Search" asp-controller="HomeController" method="get">
        <input type="text" name="keyword" placeholder="Enter keyword here">
        <select name="category">
            <option value="">All Categories</option>
            <option value="itemName">Item Name</option>
            <option value="condition">Condition</option>
            <option value="type">Type</option>
        </select>
        <select name="status">
            <option value="">All Statuses</option>
            <option value="startingBid">Starting Bid</option>
            <option value="currentBid">Current Bid</option>
            <option value="winningBid">Winning Bid</option>
        </select>
        <button type="submit">Search</button>

    </form>
 
</div>
    <table class="table">

        <tr>
            <th>Item Name</th>
            <th>Item Description</th>
            <th>Starting Bid</th>
            <th>End Time</th>
            <th>Condition</th>
            <th>Type</th>
            <th>Image</th>
        </tr>
        <tbody>
            @foreach (Auction a in Model)
            {

                <tr>
                    <td>@a.itemName</td>
                    <td>@a.itemDescription</td>
                    <td>@a.startingBid</td>
                    <td>@a.endTime</td>
                    <td>@a.condition</td>
                    <td>@a.type</td>
                    <td><img src="@a.image" width="100" height="100"></td>
                </tr>

            }
        </tbody>

    </table>
