@model bidder.Models.User

@{
     ViewData["Title"] = "Register Page";
}
<div class="register-form">
    <form asp-action="Index" method="post">
    <h2>Register</h2>
    <label for="username">Username:</label>
    <input asp-for="@Model.username" type="text" id="username" required>

    <label for="password">Password:</label>
    <input asp-for="@Model.password" type="password" id="password" required>

    <label for="passwordConfirm">Confirm Password:</label>
    <input asp-for="@Model.passwordConfirm" type="password" id="passwordConfirm" required>

    <label for="email">Email:</label>
    <input asp-for="@Model.email" type="email" id="email">

    <label for="seller">Seller:</label>
    <input asp-for="@Model.seller" type="checkbox" id="seller">

    <label for="buyer">Buyer:</label>
    <input asp-for="@Model.buyer" type="checkbox" id="buyer">

    <label for="first-name">First Name:</label>
    <input asp-for="@Model.firstName" type="text" id="first-name">

    <label for="last-name">Last Name:</label>
    <input asp-for="@Model.lastName" type="text" id="last-name">

    <input type="submit" value="Register">
  </form>
</div>
